In [1]:
import numpy as np
import pandas as pd

In [2]:
building_areas=['donghu','gaoxinkaifaqu','honggutan','jingkaiqu','jinxian','nanchangxian','qingshanhu','qingyunpu','wanli','xihu','xinjian']
columns=['avg','max','min']

In [3]:
data_list=np.zeros((len(building_areas),3))
for i in range(len(building_areas)):
    df=pd.read_json(f"./data/building_area/{building_areas[i]}.json",encoding="utf-8",orient="records")
    area_price_df=df.loc[:,"price"]
    data_list[i][0]='{:.2f}'.format(area_price_df.mean())
    data_list[i][1]=area_price_df.max()
    data_list[i][2]=area_price_df.min()
    
    
area_dfs=pd.DataFrame(data=data_list,index=building_areas,columns=columns)
area_dfs

                    avg      max     min
donghu         15980.62  22645.0  9000.0
gaoxinkaifaqu  13458.82  30000.0  7200.0
honggutan      13845.71  26500.0  6000.0
jingkaiqu      13042.11  25000.0  7200.0
jinxian         6426.00   8150.0  3380.0
nanchangxian   10141.41  15900.0  6800.0
qingshanhu     12933.33  16000.0  7500.0
qingyunpu      11954.55  15500.0  7000.0
wanli           9373.68  13500.0  6500.0
xihu           16642.86  25000.0  8500.0
xinjian         9405.71  16000.0   160.0

In [4]:
building_cnts=np.zeros(len(building_areas),dtype=int)
building_lists=np.zeros
for i in range(len(building_areas)):
    df=pd.read_json(f"./data/building_area/{building_areas[i]}.json",encoding="utf-8",orient="records")
    data={
        "name":list(df.name),
        "price":list(df.price)
    }
    dfs=pd.DataFrame(data=data)
    display(dfs)

    #南昌各地区楼盘个数
    building_cnts[i]=int(dfs.shape[0])
print(list(building_cnts))

           name  price
0        中海寰宇天下   9500
1        江旅都市方舟  16000
2  交投·置业融创美的青山印  15800
3         紫金城壹号  22645
4       南昌中骏世界城  18000
5      中金中心·阅璟台  18500
6          江湾豪庭  18400
7        城泰时代江湾   9000

            name  price
0         中海左岸国际  19500
1         力高雍湖国际   7200
2      鸿海高新中心·溪园   8400
3       弘阳中梁时光天樾   9000
4       湖城大境金地广场  14200
5          赣电东方城  14500
6           正荣棠悦  15000
7   金地·宝龙·新城湖城大境  14500
8         中海左岸澜庭  30000
9         华邦观湖别院  22000
10        华勤湖畔花园  10200
11        江铃澜庭一号  12700
12       新力水投锦瑶府  10800
13          江铃卡卡   8000
14         赣江紫悦荟   9800
15         凯宇弥敦道   8000
16     中国铁建·书香瑶庭  15000

          name  price
0         富力华庭  18000
1      绿地卢塞恩小镇  15000
2       力高凤凰新天  11500
3       联泰滨江中心  10000
4         聚贤雅苑  10300
5         保利天珺  17000
6    联发红城投藏珑大境  15300
7        金地九峯境  12500
8         滨湖瑞府  15000
9     红城投禧悦·雅云  13700
10       华润昆仑御  15500
11       江铃时代城   9500
12     南昌铜锣湾广场  26500
13         祥生府  15200
14       VR科创城  13500
15     南昌融创文旅城   6000
16         鸿海城   9800
17      中天江湾天地  25000
18      首地蓝天熙郡  18000
19     九颂山河春江悦  15000
20        银亿朗境   9000
21        明园中心  16000
22   南昌华南城西站悦城  11500
23        保利中心  13500
24        方大中心  13500
25        九颂中心  19000
26    恒锦玖珑时代广场  10300
27       华尔街广场  20000
28        丰和国际  13000
29  联泰万悦汇·时代中心   9000
30         华创里   7000
31  世纪中央城|后浪街区  12000
32    众邦MOHO国际  11000
33      地铁万科广场  12500
34       世茂APM  15000

          name  price
0    电建·产控 洺悦府  11800
1   招商金茂正荣依云上城  10500
2     金茂南昌国际社区   7500
3        绿都东澜府  12000
4       万科四季都会  11300
5       中海左岸国际  19500
6       中海寰宇天下   9500
7      江铃龙湖·云璟  12700
8       力高国资尚郡  10000
9    华侨城万科世纪水岸  25000
10        富力华庭  18000
11      力高雍湖国际   7200
12    华润青山湖万象汇   8800
13        保利和光  13500
14    市政绿城桂语江南   9500
15       名城紫金轩  18500
16     绿地卢塞恩小镇  15000
17     众森·红谷一品  16000
18    美的新力公园天下  11500

      name  price
0    中骏新天地   7500
1     丽都水岸   3380
2  九颂康瑞|和园   8150
3     盛辉国际   5800
4     盛辉华府   7300

           name  price
0        力高国资尚郡  10000
1          滨江上品  11600
2        力高君誉滨江  15900
3       鸿海.水岸之城   8000
4          幸福誉品  13000
5       壹海银城璞心岛  10600
6       一德·书香上园   9500
7          景域铂悦  13500
8       亚琦·城央尊品   7800
9        万科江右东方  11500
10       洪大合悦滨江  14500
11        银城·江苑   9500
12        金茂宸南里   8500
13      联发美的云玺台  10000
14     江铃新力铂萃中央  12000
15     九颂大唐·山湖印  11500
16      新城高速昱江来   8800
17    正荣金茂美的·云境   9800
18     鸿海万科天空之城  12500
19         锦尚雅苑   7999
20        江铃瓦良格   9500
21      九颂山河时代城  11500
22       凯宇海德公园  11500
23     世茂泰禾江南院子   6888
24         锦尚天域   8000
25     海伦堡中奥玖悦府  11500
26      联发美的悦玺台  10500
27         万景天宸   7800
28       龙湖景粼天著  12000
29       联发时代天悦  11650
30     星洲澄碧湖双子楼  13399
31       光谷未来学府   9000
32  彰泰中梁力高·君誉印象  10000
33        嘉福新天地   9700
34         保利和府   7000
35       煌盛熙岸大观  12000
36        华良枫和府   9300
37        美的花湾城   8500
38       绿梦洪州书院  13500
39       金地未来IN   8000
40         中京首府   7700
41       南昌恒大珺庭  13000
42        锦天赣江印   7000
43         上峰景城  10500
44       汇仁欣光花园   7000
45        聚仁公园里   9800
46          文澜苑   9500
47       聚仁滨江悦城   9000
48       煌盛熙岸公园  11000
49       汇仁自在天地  10800
50     润永通东投悦港城  10500
51       美高东郊紫园   8800
52        昌南新天地   6800
53         正和溪岸   8500

          name  price
0    电建·产控 洺悦府  11800
1   招商金茂正荣依云上城  10500
2     华润青山湖万象汇   8800
3       保利·艾溪湖  15000
4       南崇湖畔和光  12000
5      力高国资雍江府  16000
6       华林·青山湖  15000
7        新旅青山湖  13500
8         龙居东郡  16000
9       龙湖·铂金岛  15500
10      南昌中大煌盛  13600
11       绿滋肴庙街   7500

         name  price
0       绿都东澜府  12000
1      万科四季都会  11300
2     江铃龙湖·云璟  12700
3        保利和光  13500
4    美的新力公园天下  11500
5        新力尊园   7200
6      江铃祥云瑞园  12500
7      南昌保利天汇  11500
8      江铃新力臻园  15500
9       保利大都汇  10800
10       保利锦悦  10500
11    保利和光·宸悦  10500
12        中大汇  13500
13     正荣青云宸院  13000
14       世茂云翰  10800
15       青云公馆   7000
16    保利中航城云锦  12500
17       保利熙悦  15000
18     保利美的云筑  11000
19        谱洋府  14200
20  海伦堡弘阳时光玖悦  11500
21    南水·新力新园  15000

        name  price
0    南昌恒大林溪府  11200
1     保利·幸福里   6800
2   上海建工海玥名邸   8000
3     万科星光世纪   9000
4     恒茂未来都会   7600
5       远洋天著  12500
6      新旅明樾堂  10000
7       赣电贵府   8500
8    保利半山温泉谷  13500
9     佳源湾里印象   8500
10      九湾华苑   6500
11      伴山蝶墅   7300
12     中煤凯旋湾   7700
13     磨盘山8号   9300
14      香樟雅居   9500
15      龙森山居  10000
16    加美四季花城  10000
17     嘉圆悦山居  10000
18   中华情优山美地  12200

          name  price
0    华侨城万科世纪水岸  25000
1        名城紫金轩  18500
2   中粮·建发·祥云悦府  18500
3         建发缦云  20000
4        联发悦禧府  15500
5         建发养云  20500
6       江投朝阳春天  16500
7       绿地朝阳中心   8500
8          鸥鹏湾  15000
9     建发中粮朝阳九里  10000
10        江岸嘉院  16000
11       硕丰西湖里  19000
12      绿地象南中心  18000
13    年代星辰商业广场  12000

               name  price
0          金茂南昌国际社区   7500
1          市政绿城桂语江南   9500
2           众森·红谷一品  16000
3               新力城  12500
4           南昌恒大悦龙台  14000
5              保利紫云  10200
6               新建城  10500
7            望悦湖金茂悦   7500
8             市政公用城   8800
9             新旅明樾轩  10000
10         泰禾世茂南昌院子    160
11             文演中心  10900
12          新力·大境天城  11500
13      金地中奥九颂·都会之光  11500
14         万科联发四季光年  11500
15             桃花源筑   8500
16       江西城投科创生态新城   7500
17        云南城投集团汀兰湖   7000
18              春天里  10500
19           龙湖春江悦茗   9000
20  绿地21城 绿地全球商品贸易港   8600
21        通源新建城·城立方   5800
22             海伦广场   6400
23             广茂汇都   9000
24           锦天天悦华府  11000
25            慧谷智立方  10500
26         九龙都会红星广场   8500
27          众安中至未来里   9000

[8, 17, 35, 19, 5, 54, 12, 22, 19, 14, 28]

In [5]:
area_dfs_index_cn=["东湖","高新开发区","红谷滩","经开区","进贤","南昌县","青山湖","青云谱","湾里","西湖","新建"]
avg_=list(area_dfs.loc[:,"avg"])
max_=list(area_dfs.loc[:,"max"])
min_=list(area_dfs.loc[:,"min"])

In [6]:
from pyecharts.charts import Bar,Page,Line,Pie
from pyecharts import options as opts
from pyecharts.globals import ThemeType

In [7]:
page=Page(layout=Page.DraggablePageLayout,interval=10)

In [8]:
bar=(
    Bar(
        init_opts=opts.InitOpts(
            width="1000px",
            height="600px",
            theme=ThemeType.ESSOS #主题
        )
    
    )
    .add_xaxis(area_dfs_index_cn)
    .add_yaxis("平均房价",avg_)
    .add_yaxis("最高房价",max_)
    .add_yaxis("最低房价",min_)
    
    .reversal_axis()
    
    #系列配置项
    .set_series_opts(
        label_opts=opts.LabelOpts(position="right")
    )
    
    #全局配置项
    .set_global_opts(
        #标题配置
        title_opts=opts.TitleOpts(
            title="南昌各地房价对比条形图"
        ),
        datazoom_opts=opts.DataZoomOpts(
            is_show=True,
            range_start=0,
            range_end=60
        )
    )
    
)

In [9]:
line=(
    Line()
    .add_xaxis(area_dfs_index_cn)
    .add_yaxis("平均房价",avg_)
    .add_yaxis("最高房价",max_)
    .add_yaxis("最低房价",min_)
    
    .set_global_opts(
        title_opts=opts.TitleOpts(title="南昌各地房价对比折线图"),
        #提示线
        tooltip_opts=opts.TooltipOpts(trigger="axis"),
        #坐标轴配置
        xaxis_opts=opts.AxisOpts(
            is_show=True, #显示x轴
            type_="category", #显示离散数据类型
            axislabel_opts=opts.LabelOpts(rotate=45) #坐标轴标签旋转
        ),
        datazoom_opts=opts.DataZoomOpts(
            is_show=True,
            type_="slider",
            is_realtime=True,
            range_start=0,
            range_end=100
        )
    )
)

In [10]:
[list(x) for x in zip(area_dfs_index_cn,list(building_cnts))]

[['东湖', 8],
 ['高新开发区', 17],
 ['红谷滩', 35],
 ['经开区', 19],
 ['进贤', 5],
 ['南昌县', 54],
 ['青山湖', 12],
 ['青云谱', 22],
 ['湾里', 19],
 ['西湖', 14],
 ['新建', 28]]

In [11]:
building_cnts=[int(value) for value in building_cnts]
pie=(
    Pie(
        init_opts=opts.InitOpts(
            width="800px",
            height="500px"
        )
    )
    .add("各地楼盘个数占比",[list(x) for x in zip(area_dfs_index_cn,building_cnts)])   
    .set_series_opts(
        label_opts=opts.LabelOpts(formatter="{b}:{c}")
    )
    .set_global_opts(
        title_opts=opts.TitleOpts(
            title="南昌各地拥有楼盘占比",
            pos_top="30px"
        )
    )
)

In [12]:
page.add(bar,line,pie)
page.render("render-building.html")

'D:\\pythonTeamwork\\render-building.html'